
<div class="d-flex justify-content-between align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="footer_img " src="{{ url_for('static', filename='img/88.jpg') }}" alt="88">
    </a>
    <span class="mx-auto">Отделение (обеспечения применения электронной подписи, г. Хабаровск)</span>
        <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
    <img class="footer_img " src="{{ url_for('static', filename='img/88.jpg') }}" alt="88">
    </a>
</div>
