{% extends 'main/base.html' %}

{% block title %}
Редактирование записи оператора № {{ operator_post.item_journal }}
{% endblock %}

{% block content %}
<form method="post" class="form-control">
    <input value="{{ operator_post.item_journal }}" type="text" name="item_journal" placeholder="Пункт по журналу" class="form-control"><br>
    <input value="{{ operator_post.conditional_name }}" type="text" name="conditional_name" placeholder="Условное наименование" class="form-control" ><br>
    <input value="{{ operator_post.valid_name }}" type="text" name="valid_name" placeholder="Действительное наименование" class="form-control" ><br>
    <input value="{{ operator_post.subordination }}" type="text" name="subordination" placeholder="Подчиненность" class="form-control" ><br>
    <input value="{{ operator_post.out_number }}" type="text" name="out_number" placeholder="Исходящий номер" class="form-control" ><br>
    <input value="{{ operator_post.in_number }}" type="text" name="in_number" placeholder="Входящий номер" class="form-control" ><br>
    <input value="{{ operator_post.oid }}" type="text" name="oid" placeholder="OID" class="form-control" ><br>
    <input value="{{ operator_post.name }}" type="text" name="name" placeholder="Фамилия Имя Отчество" class="form-control" ><br>
    <input value="{{ operator_post.type_certificate }}" type="text" name="type_certificate" placeholder="Тип сертификата" class="form-control" ><br>
    <input value="{{ operator_post.status }}" type="text" name="status" placeholder="Статус" class="form-control" ><br>
    <input value="{{ operator_post.electronic_request }}" type="text" name="electronic_request" placeholder="Поступление электронного запроса" class="form-control" ><br>
    <input value="{{ operator_post.release }}" type="text" name="release" placeholder="Выпуск СКПЭП" class="form-control" ><br>
    <input value="{{ operator_post.number_notification }}" type="text" name="number_notification" placeholder="Номер уведомления" class="form-control" ><br>
    <input value="{{ operator_post.date_notification }}" type="text" name="date_notification" placeholder="Дата уведомления" class="form-control" ><br>
    <input value="{{ operator_post.return_certificate }}" type="text" name="return_certificate" placeholder="Возврат СКПЭП" class="form-control" ><br>
    <input value="{{ operator_post.filing_case }}" type="text" name="filing_case" placeholder="Подшивка в дело" class="form-control" ><br>
    <input value="{{ operator_post.note }}" type="text" name="note" placeholder="Примечание" class="form-control" ><br>
    <input value="Обновить" type="submit" class="btn btn-success">
    </form>
{% endblock %}


